body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid black;

    margin: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.flashup {
    background-color: whitesmoke;
}

.flashupuser {
    background-color: rgb(185, 69, 69);
}